/* sets up some default spacing */
ul.with-icons { 
  list-style: none;
  padding-left: 0px;

  &.indented {
    padding-left: 20px;
  }

  li {
    font-family: 'FontAwesome';

    &:before {
      margin-right: 8px;
    }

    /* inject specfic icons */
    &.icon-check {
      &:before {
        content: '\f046';
      }
    }
  }
}