<div id="footer">
  <div class="container">
    <div class="row social">
      <div class="col-xs-offset-8 col-xs-4">
        <a href="https://www.facebook.com" target="_blank">
          <%= icon "facebook-square", class: "fa-3x" %>
        </a>

        &nbsp;
        
        <a href="https://www.twitter.com" target="_blank">
          <%= icon "twitter-square", class: "fa-3x" %>
        </a>
      </div>
    </div>

    <div class="row copyright">
      <div class="col-xs-12">
        Project © 2015
        &nbsp;|&nbsp;
        <%= link_to "Privacy", "#" %>
        &nbsp;|&nbsp;
        <%= link_to "Terms", "#" %>
      </div>
    </div>
  </div>
</div>